<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="col-lg-6">
    <h1>Formulario en Symfony2</h1> 
    
    <form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    </form> 
   
    victorroblesweb.es
</div>